
#video-list{
    margin-top: 20px;
    padding: 12px;
    font-family: 'Oswald', sans-serif;
}

#videos{
    padding: 30px;
}


#videos .card:hover{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.thumbnail{
    position: relative;
}

.video-thumbnail{
    height: 300px;
    object-fit: contain;
}

.thumbnail-play-icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 25%;
    color: #b3e7f4 ;
}

